if SHIELD_CHERRY_MX_TOTEM_LEFT

config ZMK_KEYBOARD_NAME
    default "Cherry MX Totem"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHERRY_MX_TOTEM_LEFT || SHIELD_CHERRY_MX_TOTEM_RIGHT

config ZMK_SPLIT
    default y

endif